<!DOCTYPE html>
<html lang="en">
<head>   
  <title>HOME</title>
  <link rel="stylesheet" href="static/css/style2.css">
  <script src={{ url_for('static', filename='static/js/script1.js') }}></script>
  
  

</head>
<header >
<div class="head">
<h2><center><font color="red">CREA QUI LA TUA PARTITA</font></center></h2>
</div>
</header>
<body>

<center>
<br><br>
<form action="{{ url_for('inserisciPartita') }}" method="post">
<label for="codice">Inserisci Un Codice Partita</label>
<br>
<br>
<input type="text" name="codice"><br>
<label for="codice">Seleziona Lo Sport</label>

<select name="sport" id="sport">

  <option value="Padel">Padel</option>

</select>
<br><br>

<input type="submit">



</form>





 <footer>
	  copyright by Padel MatchMaker <br>
	 <center><a class="trans-color-text" href="#">MatchMaker.padel@gmail.com</a> | <span itemprop="telephone"><a href="#">+39 3339970364</a></span></center>
		 <img src="/static/images/padel.jpg"  class="imgFooter"> 
 </footer> 
</center>
</body>
</html>