<!DOCTYPE html>
<html lang="en">
<head>
<title>Lista Partite</title>
  

  <link rel="stylesheet" href="static/css/style2.css">
  <script src={{ url_for('static', filename='static/js/script1.js') }}></script>
  
  

</head>
<body>
<center>
<h1>Lista Partite</h1>
{% for row in lista %}
<center>
<p>
Partita : 
<a href="{{url_for('Partita')}}">{{row[0]}}{{row[1]}}{{row[2]}}{{row[3]}}</a>
</p>

{% endfor %}
</center>
 <footer>
	  copyright by Padel MatchMaker <br>
	 <center><a class="trans-color-text" href="#">MatchMaker.padel@gmail.com</a> | <span itemprop="telephone"><a href="#">+39 3339970364</a></span></center>
		 <img src="/static/images/padel.jpg"  class="imgFooter"> 
 </footer> 
</body>
</html>
