<html lang="it">
<head>
  <title>PARTITA</title>
  <link rel="stylesheet" href="static/css/style2.css">
  <script src={{ url_for('static', filename='static/js/script1.js') }}></script>
</head>
<header >
<div class="head">
<h2><center><font color="red">SCEGLI COSA VUOI FARE!!</font></center></h2>
</div>
</header>
<body>
{% extends "base.html" %}
{% block title %}Youv'e logged in {% endblock %}

{% block content %}
<center>
<p>Clicca per vedere le partite disponibili!</p>
<a href="/listapartite">Lista Partite</a>
<p>Clicca per creare la tua partita!</p>
<a href="/creaPartita">Crea Partita</a>

</center>
{% endblock %}
</body>
</html>