<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <title>HOME</title>
  <link rel="stylesheet" href="static/css/style2.css">
  <script src={{ url_for('static', filename='static/js/script1.js') }}></script>
  
  

</head>
<header>
<div class="head" background-color="red">
<h2><center><span color="red">Benvenuto su Padel MatchMaker!!</span></center></h2>
</div>
</header>
<body>

    </header>
  {% extends "base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
	
        <p>{{ message }}</p>
    </div>
{% endif %}

<div class="container">
 <form action="" method="post">
  <div class="email">
      <label for="InputEmail">Indirizzo Email</label>
      <input name="email" class="form-control" id="InputEmail"  placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Non condivideremo mai la tua email con nessun altro.</small>
  </div>
    <div class="pwd">
      <label for="InputPassword">Password</label>
      <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
  </div>
  
  <button class="register">
    <span>Invia</span>
  </button>
  <button class="signin">
    <span>Registrati</span>
  </button>
</form> 

</div>
 <footer>
	  copyright by Padel MatchMaker <br>
	 <a class="trans-color-text" href="#">MatchMaker.padel@gmail.com</a> | <span itemprop="telephone"><a href="#">+39 3339970364</a></span>
		  
 </footer> 
{% endblock %}

</body>

 

</html>




