<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PARTITA</title>
  <link rel="stylesheet" href="static/css/style2.css">
  <script src={{ url_for('static', filename='static/js/script1.js') }}></script>

</head>
<body>
<center>
<h1>Partita</h1>
<div class="p1">
<h3>Giocatore 1</h3>
<h4>Il giocatore 1 è : {{email}} </h4>

</div>

<div class="p2">
<h3>Giocatore 2</h3>
<h4>Lo slot del giocatore è ancora libero!</h4>
<form action="{{ url_for('inserisciGiocatore') }}" method="post">

<input type="submit" value="ISCRIVITI">

</form>

</div>


</center>
  <footer>
	  copyright by Padel MatchMaker <br>
	 <center><a class="trans-color-text" href="#">MatchMaker.padel@gmail.com</a> | <span itemprop="telephone"><a href="#">+39 3339970364</a></span></center>
		 <img src="/static/images/padel.jpg"  class="imgFooter"> 
 </footer> 
 </body>

