

<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  <title>CONFERMA</title>
  <link rel="stylesheet" href="static/css/style2.css">
  <script src={{ url_for('static', filename='static/js/script1.js') }}></script>
  
  

</head>
<header >
<div class="head">
<h2><center><span color="red">STATO:</span></center></h2>
<!-- <img src="static/images/logoo.jpg" /> -->
</div>
</header>
<body>
<h2><center>Operazione eseguaction="{{ url_for('registrazione') }}"ita con successo, controlla la mail!</center></h2>
<form action="{{ url_for('creaPartita') }}" method="post">

<input type="submit" value="Torna al Menu">

</form>
 <footer>
	  copyright by Padel MatchMaker <br>
	 <center><a class="trans-color-text" href="#">MatchMaker.padel@gmail.com</a> | <span itemprop="telephone"><a href="#">+39 3339970364</a></span></center>
		 <img src="/static/images/padel.jpg"  class="imgFooter"> 
 </footer> 


</body>

 

</html>
